<footer>
  <div class="container text-center">
    <p>
      Card Art Voter is a hobby experiment trying to appreciate Mtg card art.
      <a href="https://github.com/andli/cardartvoter"
        >https://github.com/andli/cardartvoter</a
      ><br />
      Created with ❤️ for the Magic: The Gathering community. Card Art Voter is
      not affiliated with or endorsed by Scryfall or Wizards of the Coast.<br />
      Card data and images provided by
      <a href="https://scryfall.com" target="_blank">Scryfall</a>.
    </p>
  </div>
</footer>
