<footer>
  <div class="container text-center">
    <p>
      Card Art Voter is a hobby experiment trying to appreciate Mtg card art.
      <a href="https://github.com/andli/cardartvoter"
        >https://github.com/andli/cardartvoter</a
      ><br />
      Created with ❤️ for the Magic: The Gathering community.<br />
      Thanks to Scryfall for an excellent API.
    </p>
  </div>
</footer>
