<footer>
  <div class="container text-center">
    <p>
      Created with ❤️ for the Magic: The Gathering community by andli.<br />
      <%= typeof cardCount !== 'undefined' ? cardCount.toLocaleString() : '0' %>
      cards in database. Card data and images provided by
      <a href="https://scryfall.com" target="_blank">Scryfall</a>.
    </p>
  </div>
</footer>
