<footer>
  <div class="container text-center">
    <p>
      Created with ❤️ for the Magic: The Gathering community.<br />Thanks to
      Scryfall for an excellent API.
    </p>
  </div>
</footer>
<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>
