<footer>
  <div class="container text-center">
    <p>
      Created with ❤️ for the Magic: The Gathering community by andli.<br />
      <span id="cardCounter"
        ><%= typeof cardCount !== 'undefined' ? cardCount.toLocaleString() : '0'
        %></span
      >
      cards in database •
      <span id="voteCounter"
        ><%= typeof voteCount !== 'undefined' ? voteCount.toLocaleString() : '0'
        %></span
      >
      votes cast<br />
      Card data and images provided by
      <a href="https://scryfall.com" target="_blank">Scryfall</a>.
    </p>
  </div>
</footer>
